/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

header {
  text-align: center;
  margin-top: 80px;
  font-size: 28px;
  font-weight: 600;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

article .container {
  display: flex;
  padding: 40px;
  font-size: 24px;
  border: none;
}

article .container .sub-container div {
  display: flex;
  align-items: center;
  justify-content: center;
}

article .container .sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

article .container .sub-container .number {
  margin: 5px 0;
}

article .container .sub-container .box-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-right: none;
}

article .container .sub-container .box-wrapper .sub-box-wrapper {
  display: flex;
}

article .container .sub-container .box-wrapper .sub-box-wrapper .box-one {
  width: 40px;
  height: 40px;
}

article .container .sub-container .box-wrapper .sub-box-wrapper .box-two {
  width: 40px;
  height: 40px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

article .container .sub-container .box-wrapper .sub-box-wrapper .box-three {
  width: 40px;
  height: 40px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

article .container .sub-container .box-wrapper .sub-box-wrapper .last-box {
  border-bottom: 1px solid black;
}

article .container .sub-container .box-wrapper .score-box {
  width: 80px;
  height: 40px;
}

article .container .sub-container .last-box-wrapper {
  border-right: 1px solid black;
}

article .buttons-container {
  display: flex;
  padding-top: 30px;
}

article .buttons-container .button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
  border: 1px solid #b0abab;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  background: #e5dada;
  user-select: none;
  width: 100px;
  height: 40px;
  transition: all 100ms linear;
}

article .buttons-container .button:hover {
  background-color: #d0bcbc;
}

article .buttons-container .button:active {
  background-color: #bb9e9e;
}

article .buttons-container .button.disabled {
  color: #aaaaaa;
  background-color: #eeeeee;
}

.gameover {
  display: none;
  font-size: 24px;
  font-weight: 600;
  color: #04a12b;
  text-align: center;
  margin-top: 60px;
}

.active {
  display: block;
}
