@import "reset.scss";

body {
    font-family: Helvetica, Arial, sans-serif;
}

header {
    text-align: center;
    margin-top: 80px;
    font-size: 28px;
    font-weight: 600;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;

    .container {
        display: flex;
        padding: 40px;
        font-size: 24px;
        border: none;

        .sub-container div {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .sub-container {
            display: flex;
            flex-direction: column;
            align-items: center;

            .number {
                margin: 5px 0;
            }

            .box-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                border: 1px solid black;
                border-right: none;

                .sub-box-wrapper {
                    display: flex;

                    .box-one {
                        width: 40px;
                        height: 40px;
                    }

                    .box-two {
                        width: 40px;
                        height: 40px;
                        border-left: 1px solid black;
                        border-bottom: 1px solid black;
                    }

                    .box-three {
                        width: 40px;
                        height: 40px;
                        border-left: 1px solid black;
                        border-bottom: 1px solid black;
                    }

                    .last-box {
                        border-bottom: 1px solid black;
                    }
                }

                .score-box {
                    width: 80px;
                    height: 40px;
                }
            }

            .last-box-wrapper {
                border-right: 1px solid black;
            }
        }
    }

    .buttons-container {
        display: flex;
        padding-top: 30px;

        .button {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 30px;
            border: 1px solid #b0abab;
            border-radius: 5px;
            cursor: pointer;
            text-align: center;
            font-size: 20px;
            background: #e5dada;
            user-select: none;
            width: 100px;
            height: 40px;
            transition: all 100ms linear;

            &:hover {
                background-color: darken(#e5dada, 10%);
            }

            &:active {
                background-color: darken(#e5dada, 20%);
            }

            &.disabled {
                color: #aaaaaa;
                background-color: #eeeeee;
            }
        }
    }
}

.gameover {
    display: none;
    font-size: 24px;
    font-weight: 600;
    color: #04a12b;
    text-align: center;
    margin-top: 60px;
}

.active {
    display: block;
}
